#General crap
.DS_Store
*/LaTex/*.DS_Store
*~
*/*.dSYM
*/*.dSYM
*.dSYM

*/LaTex/*.pdf
*/LaTex/*.log
*/LaTex/*.aux
*/LaTex/*.toc
*/LaTex/*.out
*/LaTex/*.tdo
*/LaTex/*.synctex.gz
*/LaTex/Sections/*.log
*/LaTex/Sections/*.aux


