{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    
    <h1 style="border-bottom: 1px solid #000; padding-bottom: 15px; color: #02376a; font-size: 36px;">Medicinkort</h1>

    {% for p in prescription %}
    <div class="modul">
        <ul style="float:left; text-align:left;">
            <li>Ordineret: {{ p.prescribed }}</li>
            <li>Medicin: {{ p.medicine_name }}</li>
            <li>Medicin styrke: {{ p.medicine_concentration }}</li>
            <li>Behandling for: {{ p.illness }}</li>
            <li>Link til patienthånbogen: {{ h.illness }}</li>
        </ul>
    </div>
    {% endfor %}

    {% endif %}
{% endblock content %}
