{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    
    <h1 style="border-bottom: 1px solid #000; padding-bottom: 15px; color: #02376a; font-size: 36px;">Medicinkort</h1>

    {% for j in joined %}
    <div class="modul">
        <ul style="float:left; text-align:left;">
            <li>Ordineret: {{ j.prescribed }}</li>
            <li>Medicin: {{ j.medicine_name }}</li>
            <li>Medicin styrke: {{ j.medicine_concentration }}</li>
            <li>Behandling for: {{ j.illness }}</li>
            <li>Link til <a href="{{ j.link }}">patienthånbogen:</a></li>
        </ul>
    </div>
    {% endfor %}

    {% endif %}
{% endblock content %}
