{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    
    <h1 style="border-bottom: 1px solid #000; padding-bottom: 15px; color: #02376a; font-size: 36px;">Sundhedsdata</h1>

    <h2 style="float:left; padding-left: 10px; margin-bottom: 5px;">Dine diagnoser</h2>

    {% for d in diagnoses %}
    <div class="modul">
            <div class="medicin_navn">
                <h2>{{ d.illness }}</h2>
                <p>Behandling: <a href="{{ url_for('Login.receptfornyelse') }}">Se dine recepter her</a></p>
            </div>
    </div>
    {% endfor %}

    

    {% endif %}
{% endblock content %}
